.container {
  width: 910px;
  margin: auto;
}

.searchForm {
  margin: 30px 0;
  display: flex;
  justify-content: center;
}

.searchInput {
  box-sizing: border-box;
  width: 400px;
  height: 30px;
  border: 1px solid #dbd0cc;
  border-radius: 5px;
  color: #551a8b;
}

.searchBtn {
  margin-left: 5px;
  width: 100px;
  font-family: 'Montserrat', sans-serif;
  border: none;
  background-color: #fbeee9;
  border-radius: 5px;
  color: #551a8b;
}

.searchBtn:hover {
  color: #ffffff;
  background-color: #d9a520;
}

.moviesList {
  margin: 0;
  padding: 0;
  padding-left: 20px;
}

.movieItem {
  margin: 10px 0;
}

.movieLink {
  color: black;
}

.movieLink:hover {
  background-color: #fbeee9;
}

@media (max-width: 1000px) {
  .container {
    width: 610px;
  }
}

@media (max-width: 650px) {
  .container {
    width: 470px;
  }
}
