.container{
    width: 910px;
    margin: auto;
}

.searchForm {
    margin: 30px 0;
    display: flex;
    justify-content: center;
}

.searchInput {
    box-sizing: border-box;
    width: 400px;
    height: 30px;
    border: 1px solid #DBD0CC;
    border-radius: 5px;
    color: #551A8B;
}

.searchBtn {
    margin-left: 5px;
    width: 100px;
    font-family: 'Montserrat', sans-serif;
    border: none;
    background-color: #FBEEE9;
    border-radius: 5px;
    color: #551A8B;
}

.searchBtn:hover {
    color: #ffffff;
    background-color: #d9a520;
}

.moviesList {
    margin: 0;
    padding: 0;
    padding-left: 20px;
}

.movieItem {
    margin: 10px 0;
}

.movieLink {
    color: black;
}

.movieLink:hover {
    background-color: #FBEEE9;
}